@use "../../themes/ametrine/sass/abstracts/functions" as *;

@mixin fancy-card {
	// position: relative;
	outline: rpx(1) solid var(--bg-muted-2);
	box-shadow: var(--edge-highlight), var(--shadow-glass);
	background-image: radial-gradient(
			circle,
			var(--bg-muted-1) rpx(1),
			transparent rpx(1)
		),
		linear-gradient(
			to bottom right,
			var(--bg-color) 50%,
			var(--bg-muted-1),
			var(--bg-muted-2)
		);
	background-size: 1rem 1rem, auto;

	// &::before {
	// 	position: absolute;
	// 	inset: 0;
	// 	border-radius: inherit;
	// 	content: "";
	// 	-webkit-backdrop-filter: var(--blur);
	// 	z-index: -1;
	// 	backdrop-filter: var(--blur);
	// }
}
