{% import "macros/icon.html" as macros_icon %}

<div class="container-fill">
	<div id="guild-widget">
		<div id="guild-banner" style="--banner: url('banner.webp');">
			<img
				id="guild-icon"
				class="transparent no-hover"
				src="icon.webp"
				alt="Snug Nook guild icon."
				{% if config.markdown.lazy_async_image %}
					decoding="async" loading="lazy"
				{% endif %}
			/>
		</div>
		<strong id="guild-name" class="title">Snug Nook</strong>
		<p id="guild-stats">
			<span id="online-count">0 Online</span>
			<span id="member-count">0 Members</span>
		</p>
		<p id="guild-description">Cozy and welcoming space for cool people to hang out in.</p>
		<ul id="guild-traits">
			<li>💫 Silly</li>
			<li>🗣️ Multi-topic</li>
			<li>💜 Friendly</li>
		</ul>
		<div class="buttons start">
			<a href="#about">About ↓</a>
			<a href="/rules/">Rules →</a>
			<a id="guild-invite" class="suggested" href="https://discord.com/invite/ksgyZgCvGx">Join →</a>
		</div>
		<div id="hover-map">
			<div class="top-left"></div>
			<div class="top-middle"></div>
			<div class="top-right"></div>
			<div class="middle-left"></div>
			<div class="middle"></div>
			<div class="middle-right"></div>
			<div class="bottom-left"></div>
			<div class="bottom-middle"></div>
			<div class="bottom-right"></div>
		</div>
		<a id="guild-weekend" href="#weekend-rebrand">
			{{- macros_icon::icon(name="clock-countdown") -}}
			Weekend Rebrand
		</a>
	</div>
</div>
